@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto:400,700');

* {
	box-sizing:  border-box;
}

body {
	margin: 0;
	background: center / cover no-repeat url('img/paul-hanaoka-299941-unsplash.jpg');
	color: white;
}

.wrapper {
	width: 50%;
	min-width: 800px;
	margin: 1.5rem auto 0 auto;
	padding: 1rem 0;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8) );
}

.title-container {
 width: 100%;
}

.game-title {
	font-size: 2.5rem;
	text-align: center;
	margin: 0;
	letter-spacing: 0.5rem;
	font-family: 'Baloo Chettan';
}
.hubs-container {
	width: 650px;
	margin: 0 auto;
	padding: 0.5rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-family: 'Roboto';
}

.player-hub {
	width: 40%;
}

.player-hub h2, 
.player-hub h4 {
	font-weight: normal;
}

.player-hub .highlighted {
	font-weight: bold;
}

.player-hub h2,
.player-hub h4 {
	margin: 0;
}

.player-two-hub {
	text-align: right;
}

#new-game-button {
	width: 15%;
	height: 3rem;
	margin: 0;
	color: #e8e2db;
	background:  #1a3263; 
	display: inline-block;
	vertical-align: top;
	border: none;
	border-radius: 5px; 
	font-size: 1rem;
	outline: none;
	cursor: pointer;

}

.board-holder {
	width: 650px;
	height: 560px;
	background: #e8e2db;
	margin: 0 auto;
	padding-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	width: 500px;
	height: 400px;
	border-collapse: collapse;
}

tr {
	background:  #1a3263;
}

td {
	width: 70px;
	height: 70px;
	padding: 0 10px;
	border-collapse: collapse;
}

.chip {
	width: 50px;
	height: 50px;
	background: white;
	display: inline-block;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 100%;
	cursor: pointer;
}

.player-one-chip {
	background: #f5564e;
}
.player-two-chip {
	background: #fab95b;
}

.player-one-top-row .chip:hover {
	background: #f5564e;
}
.player-two-top-row .chip:hover {
	background: #fab95b;
}

.player-one-background {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5564e+0,f5564e+49,e8e2db+49,e8e2db+51,e8e2db+51,e8e2db+100 */
	background: #f5564e; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f5564e 0%, #f5564e 50%, #e8e2db 50%, #e8e2db 50%, #e8e2db 50%, #e8e2db 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f5564e 0%,#f5564e 50%,#e8e2db 50%,#e8e2db 50%,#e8e2db 50%,#e8e2db 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f5564e 0%,#f5564e 50%,#e8e2db 50%,#e8e2db 50%,#e8e2db 50%,#e8e2db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5564e', endColorstr='#e8e2db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.player-two-background {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e2db+0,e8e2db+49,fab95b+50,fab95b+100 */
background: #e8e2db; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e8e2db 0%, #e8e2db 50%, #fab95b 50%, #fab95b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e8e2db 0%,#e8e2db 50%,#fab95b 50%,#fab95b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e8e2db 0%,#e8e2db 50%,#fab95b 50%,#fab95b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e2db', endColorstr='#fab95b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.player-one-win-bg {
	background: #f5564e;
}

.player-two-win-bg {
	background: #fab95b ;
}